@import "custom.scss";

$box-border-radius: 15px;

body {
    background-image: url("images/potential_background_7-modified5-compressed.jpeg");
    background-size: cover;
    background-color: $altlight;
}

.box {
    border-radius: $box-border-radius;
} 

.test-box {
    @extend .box;
    border: $primary $border-width solid;
}

.main-box {
    @extend .test-box;
}

.quote-box {
    @extend .box;
    border: $primary $border-width solid; 
    background-color: transparent;
}

hr {
    margin-top: 0px;
    // margin-top: 20px;
    margin-bottom: 0px;
}