@import "custom.scss";

$box-border-radius: 15px;
$books-img-top-border-radius: $box-border-radius - 1;
$books-sm-header-top-border-radius: $box-border-radius - 1;

body {
    background-image: url("images/potential_background_7-modified5-compressed.jpeg");
    background-size: cover;
    background-color: $altlight;
}

.box {
    border-radius: $box-border-radius;
} 

.test-box {
    @extend .box;
    border: $primary $border-width solid;
}

.books-img {
    border-top-left-radius: $books-img-top-border-radius;
    border-top-right-radius: $books-img-top-border-radius;
    // background-color: $primary;
    // color: $altlight;
}

.books-sm-header {
    border-top-left-radius: $books-sm-header-top-border-radius;
    border-top-right-radius: $books-sm-header-top-border-radius;
    background-color: $primary;
    color: $altlight;
} 

.main-box {
    @extend .test-box;
}

.quote-box {
    @extend .box;
    border: $primary $border-width solid; 
    background-color: transparent;
}

hr {
    margin-top: 0px;
    // margin-top: 20px;
    margin-bottom: 0px;
}