// @import "bootstrap_overrides";

@import 'bootstrap-variables-overrides';
@import 'self-made-variables';

body {
    // background-image: url("../img/potential_background_7-modified5-compressed.jpeg");
    // background-size: cover;
    
    // background-image: url("../img/Somerset+Strie+Striped+Wallpaper+Roll.jpg");
    background-image: url("../img/Rosemore+Damask+Wallpaper.jpg");
    background-repeat: repeat;

    background-color: $altlight;
}

.box {
    border-radius: $box-border-radius;
} 

.main-box {
    @extend .box;
    border: $primary $border-width solid;
}

.test-box {
    @extend .main-box;
}

.quote-box {
    @extend .main-box;
    background-color: transparent;
}

.books-img {
    border-top-left-radius: $books-img-top-border-radius;
    border-top-right-radius: $books-img-top-border-radius;
    // background-color: $primary;
    // color: $altlight;
}

.books-sm-header {
    border-top-left-radius: $books-sm-header-top-border-radius;
    border-top-right-radius: $books-sm-header-top-border-radius;
    background-color: $primary;
    color: $altlight;
    width: 275px;
} 

.books-md-name {
    width: 245px;
    height: 8rem;
}

hr {
    margin-top: 0px;
    // margin-top: 20px;
    margin-bottom: 0px;
}